.fetchButton {
  --shadow-color: #7e58ed;

  background: #cbb9fe;
  box-shadow: 0 10px var(--shadow-color);
  transition: all 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  outline: none;
}

.fetchButton:focus {
  transform: scale(1.05);
}

.fetchButton:hover {
  background: #aa92f0;
}

.fetchButton:is(:disabled) {
  background: #aa92f0;
  transform: translateY(8px);
  box-shadow: 0 2px var(--shadow-color);
  pointer-events: none;
}
